/MazeMap/.vs/
/MazeMap/MazeMap/x64/
/MazeMap/MazeMapTest/MazeMapTest/x64/
/MazeMap/MazeMapTest/x64/
/MazeMap/MazeSimulation/x64/
/MazeMap/x64/
/TestResults/
/__pycache__/
/.tmp/
/.vs/
/tooling/tmp*/
/Maze Files Archive
/scripts

/codex_verify/arduino_build/
/codex_verify/arduino_build_work_*/
/codex_verify/arduino_data/
/codex_verify/edge_pdf_profile/
/codex_verify/int/
/codex_verify/logs/
/codex_verify/vstest_blame/
/codex_verify/*.exe
/codex_verify/*.log

*.VC.db
*.dll.recipe
*.eep
*.elf
*.exp
*.hex
*.idb
*.iobj
*.ilk
*.ipdb
*.lastbuildstate
*.lib
*.lst
*.obj
*.pch
*.pdb
*.slnx.sqlite
*.sym
*.trx
*.vcxproj.FileListAbsolute.txt
*.vsidx
*.wsuo
